*{
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    color: #fff;
}
body{
    padding: 20px;
    background-color: #1e2024;
}
/* #2484fd*/
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card, form, button, input, textarea{
    font-size: 16px;
}
h1{
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
}
.title-blue{
    color: #2484fd;
}
.description{
    padding: 10px 0 17px;
}
.card{
    background-color: #282a30;
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    margin: 10px;
}
.card p{
    padding: 10px 0;
}
button{
    padding: 10px;
    font-weight: bold;
    border: 0px;
    border-radius: 4px;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px
}
input, textarea, .button-add{
    padding: 7.5px;
    border-radius: 4px;
    border: 0px;
    background-color: #282a30;
}
.button-add{
    padding: 10px;
    background-color: #2484fd;
}
.button-add:hover{
    background-color: #1877ec;
    transition: 0.25s;
    cursor: pointer;
}
.button-delete{
    background-color: #1e2024;
    width: 100%;
    margin-top: 2.5px;
}
.button-delete:hover{
    background-color: #43464f;
    transition: 0.25s;
    cursor: pointer;
}
textarea{
    resize: none;
    height: 75px;
}
.task-zero{
    margin: 15px;
    border-radius: 4px;
    border: 0px;
    width: 300px;
    text-align: center;
}